{
  "dependencies": [""],
  "gtk":
    {
      "gtk-theme-name": "Moe-Pink15BH",
      "gtk-icon-theme-name": "MoePinkIcons",
      "gtk-font-name": "",
      "gtk-cursor-theme-name": "",
      "gtk-cursor-theme-size": "0"
    },
  "qt":
    {
      "color_scheme_path": "/usr/share/color-schemes/BreezeLight.colors",
      "custom_palette": "true",
      "icon_theme": "MoePinkIcons",
      "standard_dialogs": "default",
      "style": "Breeze"
    },
  "i3wm":
    {
      "i3wm-theme": "i3-base16-cupcake.config"
    },
  "i3status":
    {
      "i3status-theme": "i3status-base16-cupcake.config",
      "color_good": "",
      "color_bad": "",
      "color_degraded": ""
    },
  "dunst":
    {
      "dunst-theme": "dunst-base16-cupcake.dunstrc",
      "frameColor": "#aaaaaa",
      "frameWidth": "3",
      "separatorColor": "auto",
      "urgencyLow-BackgroundColor": "#222222",
      "urgencyLow-ForegroundColor": "#888888",
      "urgencyNormal-BackgroundColor": "#285577",
      "urgencyNormal-ForegroundColor": "#ffffff",
      "urgencyCritical-BackgroundColor": "#900000",
      "urgencyCritical-ForegroundColor": "#ffffff"
    },
  "kitty":
    {
      "kitty-theme":"kitty-base16-cupcake-256.conf"
    },
  "xresources":
    {
      "xresources-theme": "xresources-base16-cupcake-256.Xresources"
    },
  "wallpaper":
    {
      "wallpaper-theme": "arch-uwu.png",
      "wallpaper-source" : "https://repository-images.githubusercontent.com/445677637/35892f9b-0458-4d0a-94dd-66859f535981"
    }
}
