{
  "dependencies": ["qt5ct-kde", "breeze", "breeze-gtk", "papirus-icon-theme", "capitaine-cursors"],
  "gtk":
    {
      "gtk-theme-name": "Nordic",
      "gtk-icon-theme-name": "Papirus-Dark",
      "gtk-font-name": "Noto Sans 11",
      "gtk-cursor-theme-name": "capitaine-cursors",
      "gtk-cursor-theme-size": "0"
    },
  "qt":
    {
      "color_scheme_path": "/usr/share/color-schemes/Breeze.colors",
      "custom_palette": "true",
      "icon_theme": "Papirus",
      "standard_dialogs": "default",
      "style": "Breeze"
    },
  "i3":
    {
      "i3-theme": "i3-base16-nord"
    },
  "i3status":
    {
      "i3status-theme": "i3status-config-theme-nord"
    },
  "dunst":
    {
      "dunst-theme": "auto"
    },
  "xresources": "nord-v2.Xresources",
  "wallpaper": "tomasz-smal-vT_JAucWU00-unsplash.jpg"
}


