{
  "dependencies": ["adapta-gtk-theme", "breeze", "papirus-icon-theme", "capitaine-cursors"],
  "gtk":
    {
      "gtk-theme-name": "Adapta",
      "gtk-icon-theme-name": "Papirus",
      "gtk-font-name": "Noto Sans 11",
      "gtk-cursor-theme-name": "capitaine-cursors",
      "gtk-cursor-theme-size": "0"
    },
  "qt":
    {
      "color_scheme_path": "/usr/share/color-schemes/Breeze.colors",
      "custom_palette": "true",
      "icon_theme": "Papirus",
      "standard_dialogs": "default",
      "style": "Breeze"
    },
  "i3":
    {
      "i3-theme": "i3-base16-ashes.config"
    },
  "i3status":
    {
      "i3status-theme": "i3status-base16-ashes.config"
    },
  "dunst":
    {
      "dunst-theme": "auto"
    },
  "xresources": "base16-ashes-256.Xresources",
  "wallpaper": "tealized.jpg"
}


